# Ignorar carpeta completa cmd
cmd/

# Ignorar binarios generados por Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignorar caché y archivos de compilación de Go
*.test
*.out

# Ignorar carpeta de compilación temporal
tmp/

# Ignorar binarios build/ si los usas
bin/
build/
